@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');


body {
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 50px;
}

#top > sub{
    font-size: 24px;
}
#top > p {
    margin-bottom: 10px;
    font-size: 20px;
}

.fa-info {
    color:#0065FC;
    border: 1px solid #DEEBFF;
    padding: 5px 12px 5px 12px;
    border-radius: 50%;
    font-size: 20px;
}

.navlinks > a {
    width: 500px;
    height: 100px; 
    margin: 0;
    padding: 26px;
    padding-top: 56px;
    text-decoration: none;
    font-size: x-large;
    color:black;
}


.navlinks>a:focus {
    border-top: 4px solid #0065FC;
    color: #0065FC;
}

main
{
    margin: 0 50px;
}


.search-form {
    display: flex;
    align-items: center;
    margin-bottom : 30px;
    margin-top: 20px;
}

.input-search {
    height: 45px;
    width: 200px;
    margin: 0;
    padding: 0;
    border: 1px solid #F2F2F2;
    border-right: none;
    font-weight: 700;
    font-size: 24px;
    outline: none;
}

.searchbutton {
    margin: 0;
    padding: 0;
    height: 47px;
    width: 125px;
    background-color: #0065FC;
    color: white;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 400;
    font-size: large;
}

.searchbutton:active {
    background-color: #003686;
}

.location-button{
    height: 47px;
    width: 50px;
    border:none;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.filter {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.filter-link {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}




.filter-link>a {
    min-width: 135px;
    max-width: 250px;
    height: 50px;
    padding-right: 10px;
    padding-left: 30px;
    white-space: nowrap;
    border: 2px solid #F2F2F2;
    border-left: none;
    border-radius: 0px 27px 27px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.filter-link > a:visited{
    color: inherit;
}

.filter-link>i {
    height: 55px;
    width: 55px;
    background-color: #DEEBFF;
    color: #0065FC;
    font-size: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 22px;

    animation-duration: 1.5s;
    animation-iteration-count: 1;
    transform-origin: center;
    transition: background-color 2s ease-in-out 100ms;
}

.filter-link>i:hover {
    background-color: #0065FC;
    color: black;
    animation-name: roll;
    animation-timing-function: ease;
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(720deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*---------------------------------------------------------------*/

.card , .card > img {
    width: 100%;
}

.card {
    height: 90%;
    margin: 20px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    border-radius: 25px;
    box-shadow: 2px 2px 20px 2px rgb(194, 194, 194);
}

.card>img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 70%;
}

.card-content {
    height: 60px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: flex-start;
    padding: 2px;
    margin-bottom: 10px ;
}

.card-content >.stars {
    color: #0065FC;
}


/*-----------------------------------------------------------------*/

.popular> a {
    text-decoration: none;
    color:black;
}

.popular> a:visited {
    color: inherit;
}
.popular> .card {
    flex-direction: row;
    height: 250px;
    width: 85%;
}

/*TODO replace img with divs(with "img" classname) then add them a background poperty*/

.popular> .card>img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    height: 100%;
    width: 40%;
    margin-right: 20px
}

.popular> a >.card>.card-content {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


.popular > a:nth-child(3) > .card > .card-content > .stars >.fa-star:last-child, .popular > a:nth-child(4) > .card > .card-content > .stars >.fa-star:last-child {
    color: #dfdfdf;
}

.popular > .gridrow {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    justify-self: flex-start;
}
.popular > .gridrow > h1 {
    white-space: nowrap;
}

/*-----------------------------------------------------------------*/

#hebergements {
    height:100vh;
    width:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hgm, .popular{
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 25px;
    display: flex;
}

.hgm {
    width: 65%;
    justify-self: start;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.popular {
    width: 30%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.gridrow{
    display: flex;
    justify-content: space-between;
    height: 30%;
    width: 100%;
}

.gridrow>a {
    text-decoration: none;
    color: black
}

.gridrow>a:visited {
    color: inherit;
}
.gridrow:first-child, .gridrow:last-child{
    display: flex;
    height: 50px;
    width: 90%; 
    margin: 0px;
}

.gridrow > .card:first-child > .card-content > .stars > .fa-star:last-child, .gridrow:nth-child(2) > .card:last-child > .card-content > .stars > .fa-star:last-child{
    color: #dfdfdf;
}
.gridrow:nth-child(3) >  .card:first-child > .card-content > .stars > .fa-star:nth-child(4), .gridrow:nth-child(3) > a:nth-child(2) > .card > .card-content > .stars > .fa-star:last-child{
    color:#dfdfdf
}

.popular > .gridrow {
    width: 65%;

}


/*-------------------------------------------------------*/

#activities{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 80px;
}

.activitiesContainer{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
}

.CardContainer {
    display: flex;
    flex-direction: row;   
    align-items: start;
    justify-content: center;
    width: 100%;
}

.CardContainer:first-child{
    margin-right: 40px;
}

.CardContainer > .card{
    height:524px;
    width: 450px;
    padding: 0px;
    padding: 0; 
    margin-right: 48px;
    margin-left:  0px
}

.CardContainer > .card ,  .gridCol > .card{
    text-decoration: none;
    color: black;
}

.CardContainer > .card ,  .gridCol > .card:visited{
    color: inherit;
}


.CardContainer > .card > img{
    height: 450px;
    width: 450px;
}

.gridCol {
    height: 545px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gridCol > .card:first-child{
    height: 50%;
    padding: 0; 
}

.gridCol > .card:first-child>img{
    height: 80%;
}

.gridCol > .card:nth-child(2n){
    height: 38%;
    padding: 0; 
}

.gridCol > .card:nth-child(2n)>img{
    height: 80%;
    padding: 0; 
}



/*---------------------------------------------------------*/

footer{
    background-color: #F2F2F2;
    display: flex;
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-self: start;
    margin:0;
    margin-top: 50px;
    height: 200px;
    width: 1200px;
}

.footer > ul > .title{
    font-weight: 700;
}
.footer > ul {
    list-style: none;
    font-size: 16px;
    margin-top: 10px
}

.footer > ul > li {
    margin-bottom: 15px;
}


.price {
    font-weight: 900;
}
.footer_links{
    text-decoration: none;
    color:black;
}

.footer_links:visited{
    color:inherit;
}

.activitiesContainer > .CardContainer > .card, .gridCol > .card {
    justify-content:start;
}

.activitiesContainer > .CardContainer > .card > h3 {
    margin-top: 10px;
    margin-left: 10px;
}