@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');


body {
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    padding-left: 50px;
    padding-right: 35px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 0;
}

.nav>img {
    width: 100px;
}

.navlinks>a {
    width: 500px;
    margin: 0;
    padding: 26px;
    text-decoration: none;
    font-size: x-large;
    font-style: bold;
    color: black;
}


.navlinks>a:visited {
    color: initial;
}

.navlinks>a:focus {
    border-top: 4px solid #0065FC;
    color: #0065FC;
}

.search-form {
    display: flex;
    align-items: center;
    margin-bottom : 30px;
}

.input-search {
    height: 45px;
    width: 200px;
    margin: 0;
    padding: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #F2F2F2;
    border-right: none;
    font-weight: 700;
    font-size: 24px;
    outline: none;
}

.searchbutton {
    margin: 0;
    padding: 0;
    height: 47px;
    width: 125px;
    background-color: #0065FC;
    color: white;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-style: bold;
    font-weight: 400;
    font-size: large;
    

}

.searchbutton:active {
    background-color: #003686;
}

.filter {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.filter-link {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}




.filter-link>a {
    min-width: 135px;
    max-width: 250px;
    height: 50px;
    padding-right: 10px;
    padding-left: 30px;
    white-space: nowrap;
    border: 2px solid #F2F2F2;
    border-left: none;
    border-radius: 0px 27px 27px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.filter-link > a:visited{
    color: inherit;
}

.filter-link>i {
    height: 55px;
    width: 55px;
    background-color: #DEEBFF;
    color: #0065FC;
    font-size: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 22px;

    animation-duration: 1.5s;
    animation-iteration-count: 1;
    transform-origin: center;
    transition: background-color 2s ease-in-out 100ms;
}

.filter-link>i:hover {
    background-color: #0065FC;
    color: black;
    animation-name: roll;
    animation-timing-function: ease;
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(720deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#hebergements {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hgm {
    height: 800px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    margin: 0px;
    margin-right: 50px;
    padding: 0px;
    border-radius: 25px;
}

.hgm>h2 {
    transform: translateX(-310px);
    font-weight: 700;
}

.popular {
    height: 800px;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 500px;
    margin: 0px;
    border-radius: 25px;
}

.card {
    height: 200px;
    width: 250px;
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    box-shadow: 1px 1px 20px 5px grey;
}

.card>img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 130px;
    width: 250px;
}

.card-content {
    height: 60px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: flex-start;
    padding: 2px;
}

.card-content>.stars {
    color: #0065FC;
}
.popular> a {

    text-decoration: none;
}

.popular> a:visited {
    color: inherit;
}
.popular> a> .card {
    flex-direction: row;
    height: 150px;
    width: 350px;
}

.popular> a >.card>img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    height: 150px;
    width: 150px;
    margin-right: 20px
}

.popular> a >.card>.card-content {
    height: 143px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


.gridrow {
    display: flex;
    flex-direction: row;
}

.gridrow>a {
    text-decoration: none;
}

.gridrow>a:visited {
    color: inherit;
}