@media all and (max-width: 768px)
{
    main
    {
        width: auto;
    }

    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #logo{
        width: 100px;
    }

    .navlinks{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        border-top:none; 
    }
    
    .navlinks >a:focus{
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }
    #top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .filter{
        display: grid;
    }

    .filter-link:nth-child(3n){
        padding: 0px;
    }

    #hebergements{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }
    
    .popular{
        width: max-content;
    }
    .popular > .gridrow{
        width: 45%;
        margin-bottom: 10px;
    }

    .hgm {
        width: 95%;
        background-color: white;
    }
    .gridrow{
        flex-direction: column;
    }

    .gridrow:first-child {
        margin-bottom: 50px;
    }

    .card {
        width: 390px; 
        justify-content: start;
        align-items: flex-start;
    }

    .card > img {
        width: 390px;
    }

    .card-content {
        justify-content: start;
    }



    #activities{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .activitiesContainer{
        flex-direction: column;
    }
    .CardContainer{
        flex-direction: column;
        margin-left: 10px;
    }
    
    .CardContainer > .card {
        width: 395px;
        height: 230px;
    }

    .CardContainer > .card > img{
        width: 395px;
        height: 190px;
    }

    .gridCol > .card {
        margin:0;
        height: 300px;
    }
    
    .gridCol > .card > img {
        margin:0;
        width: 390px;
    }
    /*------------------------------------*/

    .footer{
        height: 400px;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
    }

    .popular > .gridrow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width: 400px;
        justify-self: flex-start;
        white-space: nowrap;
    }
    .popular > .gridrow > h1:first-child {
       width: 30%;
       
    }
   
}

@media  all and (max-width: 992px) {
    
}
